In [2]:
## Load the dataset
import pandas as pd
df = pd.read_excel(r'./tourism_dataset.xlsx')
print(df.shape)

(4809, 26)

Use describe() for numerical summary (mean, median, min, max)

In [3]:
print(df.columns)
print(df.dtypes)
print(df.describe())

Index(['S.No', 'ID', 'country', 'continent', 'age_group', 'travel_with',
       'total_female', 'total_male', 'Gender', 'purpose', 'main_activity',
       'info_source', 'tour_arrangement', 'package_transport_int',
       'package_accomodation', 'package_food', 'package_transport_tz',
       'package_sightseeing', 'package_guided_tour', 'package_insurance',
       'night_mainland', 'night_zanzibar', 'payment_mode', 'first_trip_tz',
       'most_impressing', 'total_cost'],
      dtype='object')
S.No                       int64
ID                        object
country                   object
continent                 object
age_group                 object
travel_with               object
total_female               int64
total_male                 int64
Gender                    object
purpose                   object
main_activity             object
info_source               object
tour_arrangement          object
package_transport_int     object
package_accomodation      object
package_food              object
package_transport_tz      object
package_sightseeing       object
package_guided_tour       object
package_insurance         object
night_mainland            object
night_zanzibar             int64
payment_mode              object
first_trip_tz             object
most_impressing           object
total_cost               float64
dtype: object
              S.No  total_female   total_male  night_zanzibar    total_cost
count  4809.000000   4809.000000  4809.000000     4809.000000  4.792000e+03
mean   2403.998752      0.931587     1.013308        2.306093  8.122718e+06
std    1388.384398      1.288185     1.137504        4.227943  1.223612e+07
min       0.000000      0.000000     0.000000        0.000000  4.900000e+04
25%    1202.000000      0.000000     1.000000        0.000000  8.250206e+05
50%    2404.000000      1.000000     1.000000        0.000000  3.397875e+06
75%    3606.000000      1.000000     1.000000        4.000000  9.945000e+06
max    4808.000000     49.000000    44.000000       61.000000  9.953288e+07

In [13]:
#convert some features to correct data types
str_cols_list = ['country', 'continent', 'age_group', 'travel_with', 'Gender', 'purpose', 'main_activity', 'info_source', 'tour_arrangement', 
                 'package_transport_int', 'package_food', 'package_transport_tz', 'package_sightseeing', 'package_insurance', 'payment_mode',
                 'first_trip_tz', 'most_impressing', 'ID']
int64_cols_list = ['total_female', 'total_male', 'night_mainland', 'night_zanzibar']
float64_cols_list = ['total_cost']
print(df.dtypes)

S.No                              int64
ID                               object
country                  string[python]
continent                string[python]
age_group                string[python]
travel_with              string[python]
total_female                      int64
total_male                        int64
Gender                   string[python]
purpose                  string[python]
main_activity            string[python]
info_source              string[python]
tour_arrangement         string[python]
package_transport_int    string[python]
package_accomodation             object
package_food             string[python]
package_transport_tz     string[python]
package_sightseeing      string[python]
package_guided_tour              object
package_insurance        string[python]
night_mainland                   object
night_zanzibar                    int64
payment_mode             string[python]
first_trip_tz            string[python]
most_impressing          string[python]
total_cost                      float64
dtype: object

In [17]:
#print few lines of the dataframe
print(df[str_cols_list].head())

          country continent age_group          travel_with         Gender  \
0      swizerland    Europe     45-64  Friends / Relatives  Male & Female
1  UNITED KINGDOM    Europe     25-44                  nan        Female
2  UNITED KINGDOM    Europe     25-44                Alone           Male
3  UNITED KINGDOM    Europe     25-44               Spouse  Male & Female
4           CHINA      asia     25-44                  nan         Female

                          purpose     main_activity  \
0              leisure & holidays  Wildlife tourism
1             Leisure and Holiday  Cultural tourism
2  Visiting Friends and Relatives  Cultural tourism
3            Leisure and Holidays  Wildlife tourism
4            Leisure and Holidays  Wildlife tourism

                    info_source tour_arrangement package_transport_int  \
0            Friends, relatives      Independent                    No
1                        others      Independent                    No
2            Friends, relatives      Independent                    No
3  Travel, agent, tour operator     Package Tour                    No
4  Travel, agent, tour operator      Independent                    No

  package_food package_transport_tz package_sightseeing package_insurance  \
0           No                   No                  No                No
1           No                   No                  No                No
2           No                   No                  No                No
3          Yes                  Yes                 Yes                No
4           No                   No                  No                No

  payment_mode first_trip_tz                       most_impressing         ID
0         Cash            No                       Friendly People     tour_0
1         Cash           Yes  Wonderful Country, Landscape, Nature    tour_10
2         Cash            No                  Excellent Experience  tour_1000
3         Cash           Yes                       Friendly People  tour_1002
4         Cash           Yes                           No comments  tour_1004

In [18]:
print(df[int64_cols_list].head())

   total_female  total_male night_mainland  night_zanzibar
0             1           1             13               0
1             1           0             14               7
2             0           1              1              31
3             1           1             11               0
4             1           0              7               4

In [16]:
for x in str_cols_list:
    df[x] = df[x].astype(pd.StringDtype())

for x in int64_cols_list:
    df[x] = df[x].astype('int64')

for x in float64_cols_list:
    df[x] = df[x].astype('float64')

print(df.dtypes)

ValueError: invalid literal for int() with base 10: '1 day'