### Bank Term Deposit Subscription Prediction
### Team 9 : Srinivas, Ravi
### LTC - IIT M Batch 1 - Sep 2025

In [3]:
#Load the synthetic data set from the P5S8 challenge
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Load the dataset
train_syndata = pd.read_csv('./playground-series-s5e8/train.csv')
test_syndata = pd.read_csv('./playground-series-s5e8/test.csv')

# Display the first few rows of the training data
print(train_syndata.head())
# Display the first few rows of the test data
print(test_syndata.head())

   id  age          job  marital  education default  balance housing loan  \
0   0   42   technician  married  secondary      no        7      no   no
1   1   38  blue-collar  married  secondary      no      514      no   no
2   2   36  blue-collar  married  secondary      no      602     yes   no
3   3   27      student   single  secondary      no       34     yes   no
4   4   26   technician  married  secondary      no      889     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome  y
0  cellular   25   aug       117         3     -1         0  unknown  0
1   unknown   18   jun       185         1     -1         0  unknown  0
2   unknown   14   may       111         2     -1         0  unknown  0
3   unknown   28   may        10         2     -1         0  unknown  0
4  cellular    3   feb       902         1     -1         0  unknown  1
       id  age            job  marital  education default  balance housing  \
0  750000   32    blue-collar  married  secondary      no     1397     yes
1  750001   44     management  married   tertiary      no       23     yes
2  750002   36  self-employed  married    primary      no       46     yes
3  750003   58    blue-collar  married  secondary      no    -1380     yes
4  750004   28     technician   single  secondary      no     1950     yes

  loan   contact  day month  duration  campaign  pdays  previous poutcome
0   no   unknown   21   may       224         1     -1         0  unknown
1   no  cellular    3   apr       586         2     -1         0  unknown
2  yes  cellular   13   may       111         2     -1         0  unknown
3  yes   unknown   29   may       125         1     -1         0  unknown
4   no  cellular   22   jul       181         1     -1         0  unknown

In [4]:
#Load the real data set from the P5S8 channelnge
fulldata = pd.read_csv('./archive/bank-full.csv', sep=';')
print(fulldata.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no

####  1. Data Understanding & Exploration
####  Load both datasets and explore:– Feature types (categorical, numerical) – Missing values – Target distribution

In [5]:
# Find the the number and names of the columns in both datasets
print("Training Data Columns: and shape", train_syndata.columns, train_syndata.shape)
print("Test Data Columns: and shape", test_syndata.columns, test_syndata.shape)
print("Full Data Columns: and shape", fulldata.columns, fulldata.shape)

Training Data Columns: and shape Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object') (750000, 18)
Test Data Columns: and shape Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome'],
      dtype='object') (250000, 17)
Full Data Columns: and shape Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object') (45211, 17)

 Synthetic dataset: Available in the competition’s Dataset Link. Train and Test
 dataset are given. You can combine both the dataset for training
 • Test Dataset: extract 20 % of dataset from Real Dataset for testing the prediction
 accuracy of your model.

In [6]:
# Now we need to combine the Train and Test to make it a single training data set
# The outcome variable 'y' is not present in the test data, so we will add a placeholder column for it
# Since the test data does not have 'y', we will fill it with mode of the train data 'y' column
print("Mode of 'y' in training data:", train_syndata['y'].mode())
test_syndata['y'] = train_syndata['y'].mode()[0]  # Add a placeholder column for 'y' in the test set

# Combine the training and test datasets
syndata = pd.concat([train_syndata, test_syndata], ignore_index=True)
print("Combined Synthetic Data shape:", syndata.shape)

Mode of 'y' in training data: 0    0
Name: y, dtype: int64
Combined Synthetic Data shape: (1000000, 18)

In [7]:
# Take 20% of the full data as test set
_, test_fulldata = train_test_split(fulldata, test_size=0.2, random_state=42)
print("Test Full Data shape:", test_fulldata.shape)

Test Full Data shape: (9043, 17)

In [8]:
# Compare the feature types of both datasets
print("Synthetic Data Types:\n", syndata.dtypes)
print("Full Data Types:\n", fulldata.dtypes)

Synthetic Data Types:
 id            int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object
Full Data Types:
 age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object